@font-face {
  font-family: "Atyp Display";
  src: url("AtypDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atyp Display";
  src: url("AtypDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Atyp Display";
  src: url("AtypDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Atyp Text";
  src: url("AtypText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atyp Text";
  src: url("AtypText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Atyp Text";
  src: url("AtypText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.atyp {
    font-family: "Atyp D";
}