---
// Dashed vertical lines overlay
const { class: additionalClass = "", style = {} } = Astro.props
---

<div
  class={`lines absolute inset-0 ${additionalClass}`}
  style={style}
  aria-hidden="true"
>
</div>

<style>
  .lines {
    --line-gap: 5px; /* space between lines */
    --line-width: 2px; /* thickness of each line */
    --line-color: var(--color-primary);

    background: repeating-linear-gradient(
      to right,
      transparent 0,
      transparent var(--line-gap),
      var(--line-color) var(--line-gap),
      var(--line-color) calc(var(--line-gap) + var(--line-width))
    );
    opacity: 1;
    pointer-events: none;
    z-index: 1;
  }
</style>
